<footer class="info">
    <p>Originally created by <a href="https://www.jaredhanson.me">Jared Hanson</a></p>
    <p><code><a href="https://www.sequelize.org">Sequelize</a></code> and <a href="https://www.passportjs.org/packages/passport-facebook/"><code>passport-facebook</code></a> implementation added by <a href="https://edwardmenser.com">Edward Menser</a></p>
    <p>Part of <a href="https://todomvc.com">TodoMVC</a></p>
    <p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
</footer>